.singleResult {
  border: 2px solid grey;
  border-radius: 5px;
}

.btn-height {
    padding: 4px 8px 4px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.btn-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}







