.singleResult {
  border: 2px solid grey;
  border-radius: 5px;
  /* width:550px; */
}

.btn-height {
    padding: 4px 8px 4px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.show-cost {
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px 8px 4px 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 10pt;
}


.btn-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

#costLabel {
    padding-top: 20px;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  font-size: 10pt;
  text-align: center;
}
